*.pyc
build/
dist/
docs/_build/
*.egg-info/

.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store

.venv/
.idea/
.vscode/
*.code-workspace

.oplab_pipeline_commit_hash

*.sif

# due to using tox and pytest
.tox
.cache
